# Virtual Environment
venv/

# Ansible runtime and backups
*.original
*.tmp
*.bkp
*.retry
*.*~

# Ignore my actual hosts and associated host_vars (but preserve examples)
my_hosts

!host_vars
host_vars/*
!host_vars/host1.yml
!host_vars/host2.yml

# Ignore instance files (config & content) in webserves/files dir (but preserve examples)
!roles/webservers/files
roles/webservers/files/*
!roles/webservers/files/host1/*

# Ignore local scratch .yml files
scratch.yml